@model wu2.Models.Users
@{
    ViewBag.Title = "重設密碼";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>重設密碼</h3>
                </div>
                <div class="card-body">
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    else if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.PasswordResetToken)
                        <div class="form-group">
                            @Html.LabelFor(m => m.PasswordHash, "新密碼")
                            @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control required-field", required = "required", placeholder = "請輸入新密碼" })
                            @Html.ValidationMessageFor(m => m.PasswordHash, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.Label("確認新密碼")
                            <input type="password" name="ConfirmPassword" class="form-control required-field" required="required" placeholder="請再次輸入新密碼" />
                            @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4">重設密碼</button>
                    }
                </div>
           
            </div>
        </div>
    </div>
</div>
